@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;

}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.blue {
    color: blue;
}

.logo {
    width: 160px;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav_link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    padding: 8px;
}

.nav_link:hover {
    text-decoration: underline;
}

.nav_link--primary {
    border: 2px solid blue;
    border-radius: 4px;
}

.nav_link--primary:hover {
    text-decoration: none;
}

.btn_menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: blue;
    display: none;
}

.menu_backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;

}

.menu-open .menu_backdrop {
    visibility: visible;
    opacity: 1;
}

.menu-open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_list {
    padding: 32px 0;
}

.btn_menu-close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu_link {
    font-size: 40px;
    color: white;
}

/* 

 LANDING 

 */

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header_container {
    padding-top: 24px;
    width: 100%;
   max-width: 720px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.header_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 h1 {
    font-size: 56px;
    color: blue;
    margin-bottom: 24px;
    text-align: center;
 }
 
 h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
 }

 button {
    cursor: pointer;
 }

 button:active {
    transform: translateY(1px);
 }

 .btn {
    background-color: blue;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
 }

 .header_img-wrapper {
   padding: 20px;
   z-index: 2;
 }

 .container {
   padding: 56px 0;
 }

 .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
 }

 .row_column {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .no-cursor {
    cursor: not-allowed;
 }
 /* 
 
 HIGHLIGHTS 
 
 */

 #highlights {
    position: relative;
 }

 #highlights:after ,
 #highlights:before {
  background: url('assets/wave.svg');
   content: "";
   position: absolute;
   left: 0;
   z-index: 1;
   width: 101vw;
   height: 12vw;
   background-size: cover;
   background-repeat: no-repeat;
 }

 #highlights:before {
   transform: translateY(-100%);
   top: 1px; 
 }

 #highlights:before {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%);
 }

 #highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
 }

 .highlight_wrapper {
    display: flex;
    flex-wrap: wrap;
 }

 .highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .highlight_para{
    text-align: center;
    max-width: 280px;
 }

 .highlight_img {
    border: 2px solid blue;
    color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
    
 }

 .highlight_subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
 }

 /*

 FEATURES

 */

 #features {
    padding-top: 8vw;
    background-color: blue;
 }

 .books {
    display: flex;
    flex-wrap: wrap;
 }

 .book {
    width: 25%;
    padding: 24px;
 }

.book_img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book_img-wrappper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book_img {
    transform: scale(1.03);
}

.book_title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book_title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.book_ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book_price-normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* 

 EXPLORE 

 */

 #explore {
    background-color: rgba(115, 66, 214, 0.1);
 }

 /* 

 FOOTER 

 */

 footer {
    background-color: #242424;
 }

 .footer_logo {
    display: flex;
 }

 .footer_logo-img {
    width: 160px;
    filter: grayscale(1) invert(1);
 }

 .footer_link,
 .footer_copyright {
    color: #fff;
 }

 .footer_list{
    margin-bottom: 24px 0 24px 0;
 }
 .footer_link {
    padding: 0 8px;
 }

 /*SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .header_description {
        padding: 0 24px;
    }
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

button {
    font-size: 18px;
}

.book {
    width: 50%;
}

/* SMALL PHONES, LARGE SMARTPHONES*/

 @media (max-width: 550px) {
    .nav_links {
        display: none;
    }
 }

 .btn_menu {
    display: block;
 }

 .highlight {
    width: 100%;
    margin-bottom: 24px;
 }

 .highlight:not(:last-child) {
    margin-bottom: 24px;
 }